[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "~=1.6.1"
pandas = "~=2.2.3"
numpy = "~=2.2.3"
matplotlib = "~=3.10.1"
ipykernel = "~=6.29.5"

[dev-packages]

[requires]
python_version = "3.13"
