[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "~=6.29.5"
simpful = "~=2.12.0"
setuptools = "~=78.1.0"
matplotlib = "~=3.10.1"

[dev-packages]

[requires]
python_version = "3.13"
